<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div>
    <h3>Logout</h3>

    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="submit" value="Sign Out"/>

    </form>

</div>
<div>
    <h3>Add</h3>
    <form method="post" action="/main">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="text" name="text" placeholder="Введите сообщение">
        <input type="text" name="tag" placeholder="Тэг">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>
    <h3>Filter</h3>
    <form method="post" action="/main/filter">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
        <input type="text" name="filter" placeholder="Поиск">
        <button type="submit">Найти</button>
    </form>
</div>

<h2>Список сообщений</h2>
<table>
    <tr>
        <td><b>Id</b></td>
        <td><b>Text</b></td>
        <td><b>Tag</b></td>
    </tr>
    {{#messages}}
        <tr>
            <td>{{id}}</td>
            <td>{{text}}</td>
            <td>{{tag}}</td>
        </tr>
    {{/messages}}
</table>

<ul>
    <li>
        <a href="/">Home</a>
    </li>
</ul>

</body>
</html>
